header{
    background-image:linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url(https:startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    height: 75vh;
}
.ser{
    background-color: rgb(29, 128, 159);
    height: auto;
    
}
.car {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    background-color: white;
    color: #1a8aa1;
    font-size: 2.5rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.lastt{
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%),url(https:startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
